{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "Promise": true,
    "expect": true,
    "test": true,
    "describe": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": [
      2,
      "never"
    ],
    "curly": [
      2,
      "all"
    ],
    "block-spacing": 0,
    "brace-style": 0,
    "func-names": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "key-spacing": 0,
    "max-lines": [
      2,
      1000
    ],
    "max-params": [
      2,
      7
    ],
    "no-else-return": 0,
    "no-empty": 2,
    "no-extra-parens": 0,
    "no-inline-comments": 2,
    "no-invalid-this": 0,
    "no-multi-spaces": 0,
    "no-new": 0,
    "no-plusplus": 0,
    "no-sequences": 2,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-var": 0,
    "object-curly-newline": 0,
    "object-curly-spacing": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "prefer-template": 0,
    "semi-style": 0,
    "space-before-function-paren": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": [1, { "forbidDefaultForRequired": 1 }]
  }
}